body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  color: #192081;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #5d5894, #5588cc, #7dd0ff, #5588cc, #5d5894); /* Gradient background for body */
  background-size: 400% 400%; /* Background size for smooth transition */
  animation: gradientAnimation 15s ease infinite; 
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 80px; /* Adjust as needed */
  margin-right: 10px;
}

.logo span {
  color: #192081;
  font-size: 25px;
  font-weight: bold;
}

.email {
  margin-right: 20px;
  margin-top: 30px;
  padding: 10px;
}

.email a {
  text-decoration: none;
  color: #192081;
  font-size: 20px;
  font-weight: bold; /* 'font-weight: large' is not a valid value, use 'bold' */
}

/* Main content styles */
.main-content {
  padding-top: 60px; /* Adjust according to navbar height */
}

span {
  color: #020202;
}

#scholarshipCodeGroup {
  display: block;
}

#scholarshipCodeGroup.hidden {
  display: none;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 700px;
  width: 100%;
  margin: 50px;
}

.details {
  display: flex;
  flex-direction: column;
}

.details p {
  margin: 5px 0;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  text-align: left; /* Align content to the left */
  padding-left: 20px; /* Add padding to the left */
}

h1 {
  color: #2D22AC;
  /* padding-bottom: ; */
  align-items: center;
}

p {
  /* margin: 10px 0; */
  /* padding: 5px; */
}

strong {
  font-weight: bold;
}

#termsCheckbox,
#registerOnlyCheckbox {
  margin-right: 5px;
}

#termsCheckbox:checked + label,
#registerOnlyCheckbox:checked + label {
  font-style: italic;
  color: #007bff;
}

#termsCheckbox:checked + label::before,
#registerOnlyCheckbox:checked + label::before {
  content: '\2714';
  margin-right: 5px;
}

#certification,
#name,
#email,
#country,
#rf,
#cf,
#tf {
  font-weight: bold;
  letter-spacing: 1px;
}

#tf {
  color: #28a745;
}

label:hover {
  cursor: pointer;
  color: #007bff;
}

label {
  transition: all 0.3s ease;
}

.form-group2 {
  text-align: center; /* Center align the content */
  align-items: center;
}

.applyNowButton {
  font-size: larger;
  font-weight: bold;
  height: 32px;
  width: 10px; /* Set the desired width */
  padding: 10px; /* Add padding for better appearance */
  background: transparent; /* Default button background color */
  color: #0991ec; /* Text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Add some rounded corners */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: background-color 0.3s; 
}

.applyNowButton:hover {
  color: #444343;
}

.applied {
  font-weight: 100;
  color: green;
  font-style: italic;
}

.applied2 {
  font-weight: 100;
  color: rgb(192, 18, 18);
  font-style: italic;
}

.payNowButton {
  font-size: 25px;
  height: 50px;
  width: 300px; /* Set the desired width */
  padding: 10px; /* Add padding for better appearance */
  background-color: #2D22AC; /* Default button background color */
  color: #fff; /* Text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Add some rounded corners */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: background-color 0.3s; 
}

.payNowButton:hover {
  background-color: #0056b3;
}

.strikethrough {
  text-decoration: line-through;
}

@media (max-width: 600px) {
  body {
    align-items: center;
    font-size: 14px;
    margin: 10px; 
    margin-left: 30px; /* Adjust the font size as needed */
  }

  .navbar {
    padding: 10px;
  }

  .logo img {
    height: 50px; /* Adjust as needed */
    margin-right: 5px;
  }

  .logo span {
    font-size: 16px;
  }

  .registration{
    font-size: 25px;
  }

  .email {
    margin-right: 0;
    margin-top: 10px;
    padding: 5px;
    text-align: center; /* Center the text on small screens */
  }

  .email a {
    font-size: 14px; /* Adjust font size for better readability on small screens */
  }

  .main-content {
    padding-top: 70px;
  }

  .card {
    margin: 20px;
    padding: 20px;
    width: 400px;
  }

  .details p {
    font-size: 14px;
  }

  .form-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 20px;
    text-align: center;
  }

  p {
    font-size: 14px;
  }

  .applyNowButton {
    width: 100%;
    padding: 10px;
    font-size: medium;
  }

  .payNowButton {
    margin-right: 20px;
    width: 100%;
    font-size: medium;
  }

  .email {
    margin-right: 0;
    margin-top: 10px;
    padding: 5px;
    text-align: center; /* Center the text on small screens */
  }

  .email a {
    font-size: 16px; /* Adjust font size for better readability on small screens */
  }
}
